@page "/admin"
<h1 style="margin-bottom: 50px; text-align: center;">@Title</h1>

<div class="row">
    <div class="col-5">

        <h1>Insert new text</h1>

        <EditForm Model="@_Text" OnValidSubmit="@ValidSubmit" OnInvalidSubmit="@InvalidSubmit">
            <DataAnnotationsValidator />
            <div class="form-group">
                <label for="source" class="col-sm-3">Source:</label>
                <InputText @onclick="@HideAlert" id="source" class="form-control col-sm-8" @bind-Value="@_Text.Source" placeholder="Enter text source"></InputText>
            </div>
            <div class="form-group">
                <label for="textContent" class="col-sm-3">Text content:</label>
                <InputTextArea @onclick="@HideAlert" id="textContent" class="form-control col-sm-8" @bind-Value="@_Text.TextContent" rows="5" placeholder="Enter text"></InputTextArea>
            </div>

            <button style="margin-bottom: 20px" type="submit" class="btn btn-primary edit-btn">Add text</button>

            <ValidationSummary />
        </EditForm>

        @if (saved)
        {
            <div style="width: 70%; text-align: center" class="alert alert-success">Succesfully added text</div>
        }


    </div>

    <div class="col-1"></div>
        <div class="col-6">
            @if (texts == null || texts.Count() == 0)
            {   
                <div class="alert alert-warning" role="alert">
                    No texts in the database at the moment.
                </div>
            }else
            {
                <h1 style="text-align: center">List of texts</h1>
                <div id="accordion" @onclick="@HideAlert">
                    @foreach(var text in texts)
                    {
                        <div class="card cardAdmin">
                            <div class="card-header border border-primary rounded" id=@("h" + text.Id)>
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target=@("#c" + text.Id) aria-expanded="true" aria-controls=@("c" + text.Id)>
                                        @text.Source
                                    </button>
                                </h5>
                            </div>

                            <div id=@("c" + text.Id) class="collapse border border-top-0 border-primary rounded" aria-labelledby=@("h" + text.Id) data-parent="#accordion">
                                <div class="card-body">
                                    @text.TextContent

                                </div>
                                <div class="card-body float-right">
                                    <button type="button" @onclick="@(()=>DeleteText(text.Id))" class="btn btn-danger">Delete</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
</div>